.container {
	max-width: 1000px !important;
}

.main-logo {
	display: block;
	margin: auto;
	width: 20%;
}

div.table {
	overflow-x: auto;
}

table.cuentas {
	min-width: 900px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.copyright {
		font-size: 2vw;
	}

	.menu__dropdown a {
		font-size: 66%;
	}
}

/* General */
dt {
	font-weight: bold;
}

dd {
	padding-left: 2rem;
	margin-bottom: 0.5rem;
}

/* Admonitions */
.admonition {
	padding: 1em 1.5em;
}

.admonition p {
	margin: 0 0 0.5em 0;
}

.admonition p.admonition-title {
	font-weight: bold;
}

.admonition p tt {
	background: #333;
	color: #fff;
	padding: 0 0.5em;
}

.note {
	background: #fc0;
}

.warning {
	background: #f00;
}

.warning p {
	color: #fff;
}

.danger {
	background: #000;
}

.danger p.admonition-title {
	color: #f00;
}

.danger p {
	color: #fff;
}
