.container {
	max-width: 1000px !important;
}

.main-logo {
	display: block;
	margin: auto;
	width: 20%;
}

div.table {
	overflow-x: auto;
}

table.cuentas {
	min-width: 900px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.copyright {
		font-size: 2vw;
	}

	.menu__dropdown a {
		font-size: 66%;
	}
}
