.container {
	max-width: 1280px !important;
}

.main-logo {
	display: block;
	margin: auto;
	width: 20%;
}

div.table {
	overflow-x: auto;
}

table.cuentas {
	min-width: 900px;
	width: 100%;
}

@media screen and (max-width: 600px) {
	.copyright {
		font-size: 2vw;
	}

	.menu__dropdown a {
		font-size: 66%;
	}
}

/* General */
p {
	margin: 0 0 1em 0;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	padding-left: 2em;
	margin-bottom: 0.5em;
}

/* Admonitions */
.admonition {
	padding: 1em 1.5em;
}

.admonition p {
	margin: 0 0 0.5em 0;
}

.admonition p.admonition-title {
	font-weight: bold;
}

.admonition p tt {
	background: #333;
	color: #fff;
	padding: 0 0.5em;
}

.note {
	background: #fc0;
}

.warning {
	background: #f00;
}

.warning p {
	color: #fff;
}

.danger {
	background: #000;
}

.danger p.admonition-title {
	color: #f00;
}

.danger p {
	color: #fff;
}

/* Figures */
.figure img {
	margin: auto;
	padding: 0;
}

.figure p.caption {
	margin: auto;
	max-width: 98%;
	font-style: italic;
	font-size: 90%;
	text-align: center;
}
